<div class="text-center">

    <h1 class="text-center">Welcome to dogs pics app! :)</h1>

    <div *ngIf="state==='not found'">
        <p>Не верная ссылка.</p>
    </div>

    <div *ngIf="state==='default'">
        <p>Выберите породу в списке ниже:</p>
    </div>

    <select name="breed_select" id="breed_select" (change)="breedSelect($event.target.value)" >
        <option value="">Выберите породу</option>
        <option *ngFor="let breed of list" [selected]="breed===breedName" value="{{breed}}">{{breed.charAt(0).toUpperCase() + breed.slice(1)}}</option>
    </select>

    <div *ngIf="state==='founded'">
        <p class="breed_name">Порода: <a routerLink="/{{breedName}}">{{breedName.charAt(0).toUpperCase() + breedName.slice(1)}}</a></p>
        <div class="img"><img src="{{img}}" alt="{{breedName}}" class="img-responsive"></div>
    </div>

</div>